null-render:opengl:shaders:passthrough.vert			null-render:opengl:resources	"../src/null-render-backend-opengl3/shaders/shared-objects/passthrough/glsl/passthrough.vert"

null-render:opengl:shaders:passthrough-color.frag		null-render:opengl:resources	"../src/null-render-backend-opengl3/shaders/passthrough-color/glsl/passthrough-color.frag"
null-render:opengl:shaders:passthrough-texture.frag		null-render:opengl:resources	"../src/null-render-backend-opengl3/shaders/passthrough-texture/glsl/passthrough-texture.frag"

null-render:opengl:shaders:sdf.frag					null-render:opengl:resources	"../src/null-render-backend-opengl3/shaders/sdf/glsl/sdf.frag"
null-render:opengl:shaders:quad-gradient.frag		null-render:opengl:resources	"../src/null-render-backend-opengl3/shaders/quad-gradient/glsl/quad-gradient.frag"
null-render:opengl:shaders:linear-gradient.frag		null-render:opengl:resources	"../src/null-render-backend-opengl3/shaders/linear-gradient/glsl/linear-gradient.frag"